.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .lien-header {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    color: black;
  }
}
// version mobile
@media (max-width: 800px) {
  .container-header {
    .img-header {
      width: 145px;
      height: 46.88px;
    }

    .lien-header {
      font-size: 12px;
    }
  }
}
