.container-footer {
  background-color: black;
  width: 100%;
  position:absolute;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 209px;
  flex-direction: column;
  gap: 20px;
  
  .img-footer {
    width: 122px;
    height: 40px;
    margin-top: 30px;
  }

  .text-footer {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    color: white;
  }
}
