.container-footer {
  background-color: black;
  margin-top: 50px;
  width: 100%;
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 209px;
  flex-direction: column;
}

.img-footer {
  width: 122px;
  height: 39.44px;
  margin-top: 30px;
}

.text-footer {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  color: white;
}
