.container-Slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  overflow: hidden;
}
.img-fleche-Slideshow-left {
  width: 96px;
  height: 119.64px;
  z-index: 1;
  margin-right: -95px;
  cursor: pointer;
}
.img-fleche-Slideshow-right {
  width: 96px;
  height: 119.64px;
  z-index: 1;
  margin-left: -96px;
  cursor: pointer;
}

.compteur-slideshow {
  z-index: 1;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: center;
  position: absolute;
  margin-bottom: -350px;
  color: white;
}

.container-Slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden; 
  border-radius: 25px;
}

.slideshow-wrapper {
  display: flex; 
  width:101%;
  height: 100%;
  transition: transform 0.5s ease-in-out; 
}

.img-logement-Slideshow {
  min-width: 100%; 
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(0.8);
}
