// partie avec le titre et la photo du proprietaire
.container-all-titre-proprietaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
align-items: center;
}
.titre-page-logement {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;    
    color: #FF6060;

}
.localisation-page-logement{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;   
    margin-top: -25px; 
}

.container-proprietaire{
display: flex;
justify-content: center;
align-items: center;
gap: 70px;
}

.name-page-logement{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;  
    color: #FF6060; 
    width: 20px;
}
.img-page-logement{
    width: 64px;
    height: 64px;
    border-radius: 50px;
}
//  tag et etoile
.container-all-tags-etoile{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.container-tags{
display: flex;
flex-direction: row;
gap: 10px;
}
.tag{
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 19.96px;
text-align: center;
height: 25px;
background-color: #FF6060;
border-radius: 20px;
color: white;
align-items: center;
align-content: center;
width: 155px;
padding-left: 1%;
padding-right: 1%;
}
.container-etoile{
display: flex;
gap: 5px;
}
.etoile{
font-size: 26px;
}